* {
    font-family: Sofia Pro, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #8394A2;
}

.active {
    font-weight: bold;
}

/*nav*/
nav {
    background-color: #4F5D68;
    width: 100%;
    height: auto;
}

nav ul {
    margin: 0;
    padding: 1vw;
    text-align: center;
}

nav ul li {
    list-style-type: none;
}

li {
    font-size: 1em;
    font-weight: lighter;
    display: inline;
    padding: 60px 40px 60px 40px;
    text-align: center;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover, li a:active {
    color: black;
    border-bottom: 3px solid black;
}

/*tekst*/
h1 {
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
    font-size: 1.5em;
    color: #284854;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #232C27;
    font-size: 1.5em;
    text-align: center;
}

#contact a {
    text-decoration: none;
    color: #284854;
    font-size: 1em;
}

#tekst {
    text-align: center;
    color: white;
}

.intro {
    font-size: 1.5em;
    font-weight: bold;
}

.uitleg {
    font-size: 1em;
}

#tijdslijntekst {
    text-align: center;
    color: white;
}

.richting {
    font-weight: bold;
    font-size: 1em;
}

.studie {
    font-size: 0.8em;
}

.quote {
    font-weight: lighter;
    margin-bottom: 5%;
}

.instanaam {
    margin-left: 5%;
}

.linkedinnaam {
    margin-left: 6%;
}

/*images*/
.profielfoto {
    margin-left: 40%;
}

.tijdslijn {
    margin-left: 100%;
    margin-top: 2%;
}

.icon-mail {
    margin-top: 8%;
    margin-left: 35%;
}

.icon-linkedin {
    margin-left: 30%;
}

.icon-instagram {
    margin-top: 2%;
}

#contact {
    margin-left: 15%;
}

.footerfoto {
    position: absolute;
    right: 0 !important;

}

/*tablet*/
@media screen
and (max-width: 1181px)
and (orientation: landscape) {
    nav {
        background-color: #F4F5F0;
    }

    nav ul {
        padding: 2vw;
    }

    li a {
        color: #2c2c2c;
    }

    .profielfoto {
        margin-left: 25%;
    }

    .tijdslijn {
        margin-left: 90%;
    }

    #contact {
        margin-left: 10%;
    }
}

@media screen
and (min-width: 820px)
and (orientation: portrait) {
    nav {
        background-color: #F4F5F0;
    }

    nav ul {
        padding: 5vw;
    }

    li a {
        color: #2c2c2c;
    }

    .profielfoto {
        margin-left: 25%;
    }

    .tijdslijn {
        height: 430px;
        width: 70px;
        margin-left: 80%;
    }

    #skills {
        margin-left: 10%;
    }

    #softskillfiguur {
        margin-left: 10%;
    }

    .titelcontact {
        margin-top: 10%;
    }

    #mailtje {
        margin-top: 10%;
    }

    #linkedin {
        margin-top: 10%;
    }

    .icon-mail {
        margin-top: 0;
        margin-left: 0;
    }

    .icon-linkedin {
        margin-left: 1%;
    }

    #contact {
        margin-left: 30%;
    }

    .instanaam {
        margin-left: 6%;
    }

    .linkedinnaam {
        margin-top: 10%;
        margin-left: 6%;
    }

    #mail1 {
        margin-top: 32%;
    }

    #mail1, #mail2 {
        margin-left: 25%;

    }
}

/*smartphone*/
@media screen
and (max-width: 415px)
and (orientation: portrait) {
    nav {
        background-color: #F4F5F0;
    }

    li {
        font-size: 1em;
        display: block;
        padding: 10px 0 10px 0;
        text-align: center;
    }

    li a {
        color: #2c2c2c;
    }

    .profielfoto {
        margin-left: 20%;
        height: 220px;
        width: 250px;
    }

    #scholen, .tijdslijn {
        display: none;
    }

    #hardskillsfiguur {
        height: 250px;
        width: 300px;
        margin-left: 20%;
    }

    #softskillfiguur {
        height: 200px;
        width: 250px;
        margin-left: 10%;
        margin-top: 0;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    .intro {
        font-size: 1.2em;
    }

    .uitleg {
        font-size: 0.8em;
    }

    #tijdslijntekst {
        width: 70%;
        margin-left: 15%;
    }
    #contact {
        margin: 0;
    }
    .icon-instagram{
        margin-left: 20%;
    }
    .icon-mail {
        margin-top: 8%;
        margin-left: 40%;
    }
    .icon-linkedin {
        margin-left: 22%;
        margin-bottom: 5%;
    }
    #mail1 {
        margin-top: 10%;
    }
    #mail2{
        margin-bottom: 10%;
    }
    #mail1, #mail2{
        text-align: center;
    }
}