/*default*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IvyMode', sans-serif;
}

body {
    padding-top: 50px;
    background-color: #d8ddde;
}

h1 {
    font-family: ivymode, sans-serif;
    font-weight: 600;
    font-style: normal;
}

h2 {
    font-family: ivymode, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: ivymode, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

a {
    text-decoration: none;
}

/*navbar*/
.navbar {
    position: fixed;
    transition: background-color 0.3s, color 0.3s;
}

.navbar.scrolled {
    background-color: #A5ADB0;
}

.navbar.opened {
    background-color: #A5ADB0;
}

.navbar .container {
}

.navbar li a {
    margin-left: 5rem;
}

.favicon {
    height: 50px;
    width: 50px;
}

/*body*/
/*intro*/
.designFoto {
    width: 80%;
    height: auto;
}

.titel {
    margin-top: 250px;
    padding-left: 100px;
}

/*about me*/
.aboutMe {
    background-color: white;
    padding-bottom: 50px;
}

.aboutMePhoto {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.subTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textInfo {
    text-align: center;
    margin-top: 80px;
}

.aboutMePhoto {
    width: 80%;
    height: auto;
    margin-left: 75px;
}

.pdfBtn, .pdfBtnv2 {
    margin-left: 20px;
    display: inline-block;
    padding: 0.35em 1.2em;
    margin-top: 15px;
    background-color: #66859D;
    border-color: #66859D;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    color: #e8e4e4;
    text-decoration: none;
}

.pdfBtn:hover, .pdfBtnv2 {
    background-color: #496074;
}

.socialmedia {
    display: flex;
    justify-content: center;
}

.fa-brands {
    padding-top: 75px;
    font-size: 50px;
}
/*my work*/
.photoshop{
    width: 100%;
    height: auto;

}
#carouselExampleCaptions{
    width: 70%;
    height: auto;
    margin: 20px auto;

}
.logosrow img{
    width: 80%;
    height: auto;
}
.logosrow{
    margin: 0;
}
/*cases*/
/*row1*/
.caseLogo {
    width: 100%;
    height: auto;
    margin-top: 120px;
}

.caseTitle {
    margin-top: 70px;
}

.casesText {
    font-size: 18px;
}

.credits {
    padding-left: 40px;
    font-size: 15px;
}

.caseInfo {
    background-color: #A5ADB0;
    color: white;
    padding: 50px;
    margin-top: 25px;
}

.colorChange {
    font-weight: 600;
    color: #496074;
}

/*team*/
.subtitle {
    margin: 50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.teamRow, .logosrow{
    display: flex;
    justify-content: center;
}
.teamCol, .logosrow .col-4{
    display: flex;
    justify-content: center;
}
.teamPicture{
    border-radius: 15px;
    width: 80%;
    height: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

}
/*row2*/
.jobAhoiSection {
    margin-top: 75px;
}

.iconCaseLogo {
    width: 30%;
    height: auto;
}

.containerIconLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jobahoitext {
    text-align: right;
}

/*row3*/
.designInfo {
    background-color: white;
    padding: 50px;
    margin-top: 25px;
}

.brandbookSection {
    margin-top: 60px;
}

.borderbuttons {
    margin-top: 110px;
}

.borders {
    padding: 50px 40px 50px;
    margin: 20px;
    border-radius: 15px;
    background-color: #496074;
}

.borders a {
    color: white;
}

.borders a:hover {
    color: #68859D;
}

/*row4*/
.linkEind:hover {
    color: #68859D;
}

.linkEind {
    color: #496074;
    border-bottom: 1px solid #68859D;
}

/*assignments*/
#assignmentSection .row .col-12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#carouselExampleDark {
    width: 70%;
    height: auto;
    margin: 50px auto;
}

.carousel-inner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*contact*/
#contactSection {
    background-color: white;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactSection .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#contactSection input, #contactSection select {
    width: 300px;
    background-color: #dddddd;
    border-radius: 15px;
    padding: 10px;
    border: none;
    margin: 0 5px;
}

#contactSection textarea {
    background-color: #dddddd;
    border-radius: 15px;
}

/*footer*/
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #f5f5f5;
    height: 100px;
    padding-top: 10px;
}

footer p {
    font-size: 15px;
}

/*scroll button*/
#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #808B8E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#scrollButton:hover {
    background-color: #A5ADB0;
}

/*responsive*/
@media screen
and (max-width: 992px) {
    .titel {
        margin-top: 100px;
        text-align: center;
    }

    .aboutMePhoto {
        display: none;
    }

    .textInfo, .jobAhoiSection {
        margin-top: 0;
    }

    .containerLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .caseLogo {
        width: 75%;
        height: auto;
        margin-top: 20px;
    }

    .credits {
        padding-left: 0;
    }

    .iconCaseLogo {
        display: none;
    }
    .subtitle{
        margin-top: 0;
    }
    .jobAhoiSection{
        margin-top: 70px;
    }
    .jobahoitext {
        text-align: center;
    }

    .borderbuttons {
        margin-top: 15px;
    }

    .brandbookSection {
        margin-top: 45px;
    }

    .borders {
        padding: 25px 0 25px;
    }

    .borders a {
        font-size: 14px;
    }

    #assignmentSection .row .col-12 {
        display: flex;
        justify-content: center;
        margin: 10px 0 0 0;
    }

}

@media screen
and (max-width: 768px) {
    .classfoto {
        text-align: center;
    }

    .titel {
        margin-top: 50px;
        text-align: center;
        padding-left: 0;
    }

    .titleText, .jobahoitext, .codingText {
        font-size: 16px;
    }

    .paragraphText, .casesText, .pdfBtn, .pdfBtnv2, footer p {
        font-size: 14px;
    }
    .teamPicture{
        width: 100%;
        height: auto;
    }

    #contactSection input, #contactSection select {
        width: 175px;
    }

}